main {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
a {
    text-decoration: none;
}
.left-section {
width: 20%;
float: left;
padding: 20px;
}

.middle-section {
width: 60%;
float: left;
padding: 20px;
overflow: auto; 
}

.middle-section-header,
.left-section-header {
margin-bottom: 20px;
}
.middle-section-header h1,
.left-section-header h1 {
font-size: 20px;
font-weight: bold;
}
.middle-section-header hr,
.left-section-header hr {
margin-top: 5px;
}
.products-section-header{
margin-bottom: 20px;
}
.Supplemnts-products-section-header h2,
.Equipments-products-section-header h2{
font-size: 18px;
font-weight: bold;
margin-bottom: 10px;
}

.Supplemnts-products-container, 
.Equipments-products-container {


}
.Supplemnts-product,
.Equipments-product {
    padding: 10px;
    overflow: hidden;
    margin-bottom: 30px;

    /* clear: both; */
}
.Supplemnts-product:hover,
.Equipments-product:hover {

}

.Supplemnts-product-img,
.Equipments-product-img {
    float: left;
    width: 15%;
}
.Supplemnts-product-img img ,
.Equipments-product-img img {
width: 70px   
}
.Supplemnts-product-info,
.Equipments-product-info {
    float: left;
    width: 65%;
    padding-right: 1%;
}
.Supplemnts-product-info h2,
.Equipments-product-info h2{
font-weight: bold;
margin-bottom: 10px;
font-size: 18px;
}
.Supplemnts-product-info p,
.Equipments-product-info p{
padding-bottom: 10px;
font-size: 14px;
font-weight: 300;
}
.Supplemnts-product-info-price,
.Equipments-product-info-price{
font-size: 18px !important;
font-weight: 700 !important;
}
.Supplemnts-product-button-div,
.Equipments-product-button-div {
    float: left;
    width: 20%;
    
}
.Supplemnts-product-button,
.Equipments-product-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(44, 43, 43);
    color: whitesmoke;
    cursor: pointer;
    margin-top: 25%;
}


.right-section {
width: 20%;
float: left;
padding: 20px;

}

.right-section-div {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #dddddd;
    color: black;
    padding: 20px;
    line-height: 1.4;
}

.Checkout-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    border-radius: 5px;
    border-style: none;
    /* background-color: rgb(44, 43, 43); */
    background-color: #23689b;
    color: whitesmoke;
    cursor: pointer;
    /* margin-top: 25%; */
}

.Supplemnts-or-Equipments,
.weight-loss-maintain-gain {
    width: 100%;
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.filter-form-reset,
.filter-form-submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    border-radius: 5px;
    border-style: none;
    /* background-color: rgb(44, 43, 43); */
    background-color: #23689b;
    color: whitesmoke;
    cursor: pointer;
    /* margin-top: 25%; */
}